.workshops {
    width: 30%;
    margin: 0 auto;
}

.gallery {
    border: 1px solid #ccc;
}

    .gallery img {
        width: 100%;
        height: 150px;
    }

.des {
    padding: 15px;
    font-size: 16px;
    text-align: center;
}

.responsive {
    padding: 6px 6px;
    float: left;
    width: 50%;
    cursor: pointer;
}

    .responsive:hover,
    .responsive:focus {
        outline: 1px solid rgb(10, 10, 155);
    }

@media (max-width: 400px) {
    .workshops {
        width: 80%;
    }

    .responsive {
        width: 100%;
        margin: 6px 0;
    }
}

@media (max-width: 500px) {
    .workshops {
        width: 70%;
        margin: 0 auto;
    }

    .responsive {
        width: 100%;
        margin: 6px 0;
    }
}

@media (min-width: 768px) {
    .workshops {
        width: 80%;
    }

    .responsive {
        width: 32%;
        margin: 6px 0;
    }
}

@media (min-width: 1000px) {
    .workshops {
        width: 35%;
        margin: 0 0;
    }

    .responsive {
        width: 50%;
        margin: 6px 0;
    }

    .gallery img {
        height: 150px;
    }

    .des {
        padding: 15px;
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .workshops {
        width: 35%;
    }

    .responsive {
        width: 50%;
        margin: 7px 0;
    }

    .gallery img {
        height: 175px;
    }

    .des {
        padding: 17px;
        font-size: 18px;
    }
}

@media (min-width: 1900px) {
    .responsive {
        margin: 8px 0;
    }

    .gallery img {
        height: 200px;
    }

    .des {
        padding: 19px;
        font-size: 20px;
    }
}

@media (min-width: 2500px) {
    .workshops {
        width: 35%;
    }

    .responsive {
        margin: 10px 0;
    }

    .gallery img {
        height: 285px;
    }

    .des {
        padding: 24px;
        font-size: 25px;
    }
}
