<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System rezerwacji sal</title>
      {% load static %}
     <link rel="stylesheet" href="{% static "app/style/index/main.css" %}" />
    <link rel="stylesheet" href="{% static "app/style/index/mainbannerstyle.css" %}" />
  
  </head>
  <body>
    <nav class="lognav"> 
      <label class="logo"><a href="{% url 'index' %}">PCI</a></label>
      <ul class="loglist">
        <li><a href="{% url 'login' %}" class="reglog">Zaloguj</a></li>
      </ul>
    </nav>
    <section><div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>System Rezerwacji Sal</h1>
                <p>Rezerwacja sal w siedzibie PCI</p>
                <a href="{% url 'sale' %}" class="btn-one">Przejdź dalej</a>
            </div>
        </div>
        </div>
        </section>
  </body>
</html>
