<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <title>Stanowiska</title>
    <link rel="stylesheet" href="{% static "app/style/index/main.css" %}" />
    <link rel="stylesheet" href="{% static "app/style/subbannerstyle.css" %}" />
    <link rel="stylesheet" href="{% static "app/style/galeriastyletwo.css" %}"/>
    <link rel="stylesheet" href="{% static "app/style/calendarstyle.css" %}"/>
     


      <link href="{% static 'app/style/cal_core/main.min.css'%}" rel='stylesheet' />
    <link href="{% static 'app/style/cal_daygrid/main.min.css'%}" rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'app/style/cal_list/main.min.css'%}" />
    <link rel="stylesheet" href="{% static 'app/style/cal_timegrid/main.css'%}" />
    <link rel="stylesheet" href="{% static 'app/style/cal_bootstrap/main.min.css'%}" />
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet' />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% static 'app/scripts/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'app/scripts/cal_moment/main.js'%}"></script>
    <script src="{% static 'app/scripts/cal_core/main.js'%}"></script>
    <script src="{% static 'app/scripts/cal_daygrid/main.js'%}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
    <script src="{% static 'app/scripts/cal_timegrid/main.js'%}"></script>

    <script src="{% static 'app/scripts/cal_core/locales/pl.js'%}"></script>

    <script src="{% static 'app/scripts/myCalendar.js'%}"></script>
    <script src='https://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
    <script src="{% static 'app/scripts/cal_bootstrap/main.js'%}"></script>
    <script src="{% static 'app/scripts/cal_google-calendar/main.js'%}"></script>
    <script src="{% static 'app/scripts/cal_interaction/main.js'%}"></script>
    <script src="{% static 'app/scripts/cal_luxon/main.js'%}"></script>
    <script src="{% static 'app/scripts/cal_moment-timezone/main.js'%}"></script>
    <script src="{% static 'app/scripts/cal_rrule/main.js'%}"></script>


      <script>
     
    document.addEventListener('DOMContentLoaded', function () {
       var calendarEl = document.getElementById('calendar');

       var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'bootstrap', ],
                themeSystem: 'Darkly',
                defaultView: "dayGridMonth",
                header: {
                    left: 'prev,next today, addEventButton',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                hiddenDays: [0],
                weekNumbers: true,
                selectable: true,
                selectMirror: true,
                selectHelper: true,
                editable: true,
                businessHours: false,
                eventLimit: true,
                navLinks: true,
                nowIndicator: true,
                slotDuration: "00:30",
                minTime: "08:00",
                maxTime: "22:00",
                allDaySlot: false,
                locale: "pl",

                timeFormat: 'H(:mm)',
                timeZone: 'local',
                eventOverlap: false,
                // height: 800,
                // ascpectRatio: 0.5,
                titleFormat: { // will produce something like "Tuesday, September 18, 2018"
                    month: 'short',
                    year: 'numeric',
                },


                customButtons: {
                    addEventButton: {
                        text: 'Dodaj zdarzenie',
                        click: function () {
                            var dateStr = prompt(
                                'Podaj date w fromacie: rok-miesiąc-dzień (YYYY-MM-DD)');
                            /*var dateHour = prompt(
                                'Podaj godzine rozpoczęcia: godzina-minuta-sekunda(00:00:00)');*/
                            var date = new Date(dateStr + 'T13:00:00');
                            var titleStr = prompt('Podaj tytuł:');
                            var titleName = new String(titleStr);

                            if (!isNaN(date.valueOf()) && titleStr != null) {
                                calendar.addEvent({
                                    title: titleName,
                                    start: date,
                                    //overlap: false,
                                    //rendering: 'background',
                                    //color: '#ff9f89',
                                    allDay: false
                                });
                            } else {
                                alert('Niepoprawne dane!');
                            }

                        }
                    }
                },


                //events: function (fetchInfo, successCallback, failureCallback) {
                    //successCallback("{ static 'app/scripts/events.json' }");
                //},



                 //EVENTS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
   events: [
    {% for i in events %}
             {
 
                  start: '{{ i.termin_rozpoczecia|date:"Y-m-d" }}T{{ i.termin_rozpoczecia|time:"H:i"}}',
                  end: '{{ i.termin_zakonczenia|date:"Y-m-d" }}T{{ i.termin_zakonczenia|time:"H:i" }}',
              },
          {% endfor %}
        ],   
      
         



                /*select: function(start, end, resource) {
  //             var title = 'new';
               var eventData;
               //if (title) {
                  eventData = {
                     title: title,
                     start: start,
                     end: end
                  // };
                   console.log(eventData);
                   //$('#calendar').fullCalendar('renderEvent', eventData, true);
                   $.ajax({
                       url: '/calendar/add/',
                       type: "GET",
                       data: eventData,
                     success: function(jsonResponse) {
                        alert("Dodano zdarzenie")
                     },
                     error: function(jsonResponse) {
                        alert("cannot insert!")
                     }
                  });
                }
            },*/
                select: function (info, start, end, jsEvent, view, resource) {
                    var obj = {};
//                    obj.title = prompt("Tytuł:");
                    obj.start = moment(info.startStr).format("YYYY-MM-DD HH:mm");
                    obj.end = moment(info.endStr).format("YYYY-MM-DD HH:mm");
                    //obj.resourceId = selectionInfo.resource.id;
                    //obj.overlap = true;
                    /*obj.rendering = 'background';
                    obj.color = '#ff9f89';*/
                    //eventsArray.push(obj);
                    console.log(obj);
                    $('#calendar').fullCalendar('renderEvent', obj, true);
                   editable: true,
                        calendar.addEvent({
                            //title: obj.title,
                            start: obj.start,
                            //resourceId: obj.resourceId,
                            //rendering: obj.rendering,
                            //color: obj.color,
                            end: obj.end,
                            
                        }
        );

                    var eventData;
                    eventData = {
                    // title: obj.title,
                     start: obj.start,
                     end: obj.end,
                     //allDay: true,
                     //csrfmiddlewaretoken:$('input[obj.title=csrfmiddlewaretoken]').val()
                  };
                $('#calendar').fullCalendar('renderEvent', eventData, true);
                $.ajax({
                     url: '/calendar/add/',
                     type: "GET",
                     data: eventData,
                     success: function(jsonResponse) {
                        alert("Dodano zdarzenie")
                     },
                     error: function(jsonResponse) {
                        alert("cannot insert!")
                     }
                  });
          $("#calendar").fullCalendar('unselect');
                },
          
                // select: function (arg) {
                //     var title = prompt('Podaj tytuł:');
                //     if (title) {
                //         calendar.addEvent({
                //             title: title,
                //             start: arg.start,
                //             end: arg.end,
                //             allDay: arg.allDay
                //         })
                //     }
                //     calendar.unselect()
                // },
                // events: "{ static 'app/scripts/events.json' }",
                });
            calendar.render();
    });
    </script>

      <style>


  .banner {
        background-image: url(../../../../static/app/images/banery/warsztatbanner.jpg);
      }
    </style>



  </head>
  

  <body>
    <nav class="lognav">
      <label class="logo"><a href="{% url 'index' %}">PCI</a></label>
      <ul class="loglist">
 <li><h1 class="reglog" >Witaj, {{request.user.email}}</h1></li>
        <li><a class="reglog" href="{% url 'logout' %}">Wyloguj</a></li>
      </ul>
    </nav>
    <div class="banner">
      <div class="container">
        <div class="banner-content">
          <h1>Warsztat</h1>
        </div>
      </div>
      </div>
 <div id='calendar'></div>
    <div class="workshops">
      <div class="responsive" tabindex="1">
        <div class="gallery">
          <img src="{% static "app/images/stanowiska/pila-ukosowa.jpg" %}" alt="warsztat"
          />
          <div class="des">Piła ukosowa</div>

        </div>
      </div>
      <div class="responsive" tabindex="2">
        <div class="gallery">
          
            <img src="{% static "app/images/stanowiska/wiertarka-stolowa.jpg" %}" alt="ar-vr"
          />
          <div class="des">Wiertarka Stołowa</div>

        </div>
      </div>
      <div class="responsive" tabindex="3">
        <div class="gallery">
          <img src="{% static "app/images/stanowiska/mini-szlifierka.jpg" %}" alt="3d"
          />
          <div class="des">Mini szlifierka</div>

        </div>
      </div>
      <div class="responsive" tabindex="4">
        <div class="gallery">
          <img src="{% static "app/images/stanowiska/frezarka-gornowrzecionowa.jpg" %}" alt="hi-end"
          />
          <div class="des">Frezarka górnowrzecinowa</div>
        </div>
      </div>
      <div class="responsive" tabindex="5">
        <div class="gallery">
          <img src="{% static "app/images/stanowiska/przecinarka-do-metalu.jpg" %}" alt="aula"
          />
          <div class="des">Przecinarka do metalu</div>
        </div>
      </div>
      <div class="responsive" tabindex="6">
        <div class="gallery">
          <img
              src="{% static "app/images/stanowiska/majsterkowicz-rzemieslnik.jpg" %}"
              alt="elektroniczna"
          />
          <div class="des">Majsterkowicz, rzemieślnik</div>
        </div>
      </div>
    </div>
  </body>
</html>


<script>
    let el = document.querySelectorAll(".responsive");
    console.log(el);
    for (let i = 0; i < el.length; i++) {
        el[i].addEventListener('click', function () {
            switch (i) {
                case 0:
                    console.log("Kliknales w piłe ukosową");
                    $.ajax({
                        url: '/calendar/pick_pila_ukosowa/',
                        type: "GET",
                        data: {"i": i}
                  });
                    break;
                case 1:
                    console.log("Kliknales w wiertarke");
                    $.ajax({
                     url: '/calendar/pick_wiertarka_stolowa/',
                        type: "GET",
                     data: {"i": i}
                  });
                    break;
                case 2:
                     console.log("Kliknales w mini szlifierke");
                    $.ajax({
                     url: '/calendar/pick_mini_szlifierka/',
                        type: "GET",
                     data: {"i": i}
                  });
                    break;
                case 3:
                    console.log("Kliknales w frezarke");
                    $.ajax({
                     url: '/calendar/pick_frezarka_gornowrzecinowa/',
                        type: "GET",
                     data: {"i": i}
                  });
                    break;
                case 4:
                    console.log("Kliknales w przecinarke do metalu");
                    $.ajax({
                     url: '/calendar/pick_przecinarka_do_metalu/',
                        type: "GET",
                     data: {"i": i}
                  });
                    break;
                case 5:
                    console.log("Kliknales w majsterkowicz");
                    $.ajax({
                     url: '/calendar/pick_majsterkowicz/',
                        type: "GET",
                     data: {"i": i}
                  });
                    break;
            }
        })
    }
    
</script>