<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static "app/style/index/main.css" %}" />
    <link rel="stylesheet" href="{% static "app/style/index/mainbannerstyle.css" %}" />
    <link rel="stylesheet" href="{% static "app/style/adminpage/adminstyle.css" %}" />
</head>
<body>
    <nav class="lognav">
        <label class="logo"> <a href="{% url 'index' %}">PCI</a></label>
        <label class="logo"> <a href="{% url 'adminpage' %}"> Panel Administratora</a></label>
        <ul class="loglist">
                <li><span class="reglog" >Witaj, {{request.user}}</span></li>
        <li><a class="reglog" href="{% url 'logout' %}">Wyloguj</a></li>
      </ul>
    </nav>
    <section>
        <div class="banner">
            <div class="container">
                <div class="banner-content">
                <br />
                <tr>
                    <a href="{% url 'adminuzytkownicy' %}" class="btn-one">Użytkownicy</a>
                </tr>
                <tr>
                    <a href="{% url 'adminrezerwacje' %}" class="btn-one">Rezerwacje</a>
                </tr>
                <tr>
                    <a href="{% url 'adminsale' %}" class="btn-one">Sale</a>
                </tr>
                <tr>
                    <a href="{% url 'adminstanowiska' %}" class="btn-one">Stanowiska</a>
                </tr>
                <tr>
                    <a href="{% url 'adminopiekunowie' %}" class="btn-one">Opiekunowie</a>
                </tr>
                <tr>
                    <a href="{% url 'przydzialy' %}" class="btn-one">Przydziały</a>
                </tr>
                <tr>
                    <a href="{% url 'admin:index' %}" target="_blank" class="btn-one">Administracja Django</a>
                </tr>
                <br /><br />
                    <h1>Rezerwacje</h1>
                    <br />
                     <table style="width:40%; margin-left:auto;margin-right:auto;">
                        <tr>
                            <th>ID Rezerwacji</th>
                            <th>Rezerwujący</th>
                            <th>E-mail rezerwującego</th>
                            <th>Stanowisko</th>
                            <th>Termin rozpoczęcia</th>
                            <th>Termin zakończenia</th>
                            <th>Czy anulowana</th>
                         </tr>
                        {% block content %}
                        {% for rezerwacja in rezerwacje %}
                         <tr>
                             <td>{{rezerwacja.id_rezerwacji.id_rezerwacji}}</td>
                             <td>{{rezerwacja.id_rezerwacji.id_uzytkownika}}</td>
                             <td>{{rezerwacja.id_rezerwacji.id_uzytkownika.email}}</td>
                             <td>{{rezerwacja.id_stanowiska.id_sali}}: {{rezerwacja.id_stanowiska}}</td>
                             <td>{{rezerwacja.termin_rozpoczecia}}</td>
                             <td>{{rezerwacja.termin_zakonczenia}}</td>
                             <td>{{rezerwacja.anuluj}}</td>
                             <td><button><a href= 'anuluj/{{rezerwacja.id_rezerwacji_stanowiska}}' class="btn btn-warning">Zmień status rezerwacji</a></button></td>
                         </tr>
                        {% endfor %}
                        {% endblock %}
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
