<!DOCTYPE html>
<html>
<head>
    <title>Pracownie App</title>
        <style>
      #szablon
        {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 1000px;
        background-color: cyan;
        }
    </style>
</head>
<body>
<div id="szablon">
    <form oninput="login.value=username.value" oninput="haslo.value=pass.value"
    oninput="haslo2.value=pass.value">

    <h3>Login:</h3>
   <input login="text" id="username" value="">
    <h3>Hasło:</h3>
    <input type="password" id="pass" value="">
        <h3>Powtórz hasło:</h3>
    <input type="password" id="pass2" value="">
<h2>
    <output name="login" >
    </output>
    <br/><br/>

</h2>
    </form>
<br/><br/>
<h2>
    <a href="logowanie.html"  style="background-color:chartreuse;">Logowanie</a>
        <br/><br/>
  </h2>
</div>
</div>
</body>
</html>