<!DOCTYPE html>
<html lang='pl'>

<head>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalendarz</title>
    {% load static %}

    <link href="{% static 'app/style/cal_core/main.min.css'%}" rel='stylesheet'  />
    <link href="{% static 'app/style/cal_daygrid/main.min.css'%}" rel='stylesheet' />
    <link rel="stylesheet" href="{% static 'app/style/cal_list/main.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'app/style/cal_list/main.min.css../../static/app/style/cal_timegrid/main.css'%}"/>
    <link rel="stylesheet" href="{% static 'app/style/cal_list/main.min.css../../static/app/style/cal_bootstrap/main.min.css'%}"/>
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'/>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet' />
    <script src="{% static 'app/scripts/jquery-3.4.1.min.js'%}" ></script>
    <script src="{% static 'app/scripts/cal_moment/main.js'%}" ></script>
    <script src="{% static 'app/scripts/cal_core/main.js'%}" ></script>
    <script src="{% static 'app/scripts/cal_daygrid/main.js'%}" ></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
    <script src="{% static 'app/scripts/cal_timegrid/main.js'%}" ></script>

    <script src="{% static 'app/scripts/cal_core/locales/pl.js'%}" ></script>

    <script src="{% static 'app/scripts/myCalendar.js'%}" ></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js' ></script>
    <script src="{% static 'app/scripts/cal_bootstrap/main.js'%}" ></script>
    <script src="{% static 'app/scripts/cal_google-calendar/main.js'%}" ></script>
    <script src="{% static 'app/scripts/cal_interaction/main.js'%}" ></script>
    <script src="{% static 'app/scripts/cal_luxon/main.js'%}" ></script>
    <script src="{% static 'app/scripts/cal_moment-timezone/main.js'%}" ></script>
    <script src="{% static 'app/scripts/cal_rrule/main.js'%}" ></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'bootstrap', ],
                themeSystem: 'Darkly',
                defaultView: "dayGridMonth",
                header: {
                    left: 'prev,next today, addEventButton',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                hiddenDays: [0],
                selectable: true,
                selectHelper: true,
                editable: true,
                businessHours: true,
                eventLimit: true,

                //nowIndicator: true,
                //slotDuration: "00:30",
                //minTime: "08:00",
                //maxTime: "22:00",
                //allDaySlot: true,
                //locale: "pl",

                timeFormat: 'H(:mm)',
                //timeZone: 'Europe/Warsaw',
                height: 800,
                titleFormat: { // will produce something like "Tuesday, September 18, 2018"
                    month: 'short',
                    year: 'numeric',
                },


                customButtons: {
                    addEventButton: {
                        text: 'Dodaj zdarzenie',
                        click: function () {
                            var dateStr = prompt(
                                'Podaj date w fromacie: rok-miesiąc-dzień (YYYY-MM-DD)');
                            /*var dateHour = prompt(
                                'Podaj godzine rozpoczęcia: godzina-minuta-sekunda(00:00:00)');*/
                            var date = new Date(dateStr + 'T13:00:00');
                            var titleStr = prompt('Podaj tytuł:');
                            var titleName = new String(titleStr);

                            if (!isNaN(date.valueOf()) && titleStr != null) {
                                calendar.addEvent({
                                    title: titleName,
                                    start: date,
                                    //overlap: false,
                                    //rendering: 'background',
                                    //color: '#ff9f89',
                                    allDay: false
                                });
                            } else {
                                alert('Niepoprawne dane!');
                            }

                        }
                    }
                },

                events: function (fetchInfo, successCallback, failureCallback) {
                    successCallback(eventsArray);
                },
                select: function (info, start, end, jsEvent, view) {
                    var obj = {};
                    obj.title = prompt("Tytuł:");
                    obj.start = moment(info.startStr).format("YYYY-MM-DD");
                    obj.end = moment(info.endStr).format("YYYY-MM-DD");
                    obj.allDay = true;
                    obj.overlap = false;
                    obj.rendering = 'background';
                    obj.color = '#ff9f89';
                    //eventsArray.push(obj);
                    console.log(obj);
                    //$('#calendar').fullCalendar('renderEvent', obj, true);
                    if (obj.title != null) {
                        calendar.addEvent({
                            title: obj.title,
                            start: obj.start,
                            //overlap: obj.overlap,
                            //rendering: obj.rendering,
                            //color: obj.color,
                            end: obj.end,
                            allDay: obj.allDay,
                        });
                    } else
                        alert('Nie podałeś tytułu!');
                },
            });
            calendar.render();
        });
    </script>
</head>

<body>

    <div id='calendar'></div>

</body>

</html>