<!DOCTYPE html>
<html>
<head>
    <title>Logowanie</title>
        <style>
    #szablon
        {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 1000px;
        background-color: cyan;
        }
     </style>
</head>
<body>
<div id="szablon">
<h1>Logowanie</h1>
    <form oninput="login.value=username.value" oninput="haslo.value=pass.value">

    <h3>Login:</h3>
   <input login="text" id="username" value="">
    <h3>Hasło:</h3>
    <input type="password" id="pass" value="">
<h2>
    <output name="login" >
    </output>
    <br/><br/>
</form>
        <a href="index.html"  style="background-color:chartreuse;">Zaloguj</a>
        <br/><br/>
    <a href="add_uzytkownik.html"  style="background-color:chartreuse;">Dodaj użytkownika</a>
        <br/><br/>
    </h2>
</div>

</body>
</html>