<!DOCTYPE html>
<html>
<head>
    <title>Moje Rezerwacje</title>
    <style>
    #table, th, td {
        border: 1px solid black;
        background-color:#1a5b8d;
}
     </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
     <link rel="stylesheet" href="{% static "app/style/index/main.css" %}" />
<link rel="stylesheet" href="{% static "app/style/banneradminstyle.css" %}" />
</head>
<body>
 
<div id="szablon">

<section><div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Moje rezerwacje</h1>
                   <a href="{% url 'sale' %}" class="btn-one">Wróć do wyboru sal</a>
            </div>
<h2>
    <br/><br/>

 {% for u in user %}
    <table style="width:40%; margin-left:auto;margin-right:auto;">
        <tr>

 <td>Użytkownik numer: {{u.id_uzytkownika}}</td>
</table>
     <table style="width:40%; margin-left:auto;margin-right:auto;">
                        <tr>
                            <th>Rezerwujący</th>
                            <th>Stanowisko</th>
                            <th>Termin rozpoczęcia</th>
                            <th>Termin zakończenia</th>
                            <th>Czy anulowana</th>
                         </tr>
                        {% block content %}
{% for rezerwacja in rezerwacjestanowiska %}
 {% if rezerwacja.id_rezerwacji.id_uzytkownika.id_uzytkownika == u.id_uzytkownika %}
         <tr>
    <td>{{rezerwacja.id_rezerwacji.id_uzytkownika.imie}} {{rezerwacja.id_rezerwacji.id_uzytkownika.nazwisko}}</td>
    <td>{{rezerwacja.id_stanowiska.id_sali.nazwa_sali}}: {{rezerwacja.id_stanowiska.nazwa_stanowiska}}</td>
    <td>{{rezerwacja.termin_rozpoczecia}}</td>
    <td>{{rezerwacja.termin_zakonczenia}}</td>
    <td>{{rezerwacja.czy_anulowana}}</td>
             <td><button><a href= '{{rezerwacja.id_rezerwacji_stanowiska}}' class="btn btn-warning">Zmień status rezerwacji</a></button></td>

           {% if rezerwacja.czy_anulowana == False %}
{% endif %}
                  {% if rezerwacja.czy_anulowana == True %}
                <div class="col-md-10">
                     
                    </div>
             <td></td>
{% endif %}
     </tr>
         {% endif %}
{% endfor %}
 {% endblock %}
         <a href= 'app/rezerwacje' class="btn btn-warning"></a>
         {% endfor %}
       </table>
    <br/><br/>
    </h2>
</div>

</body>
</html>