<!DOCTYPE html>
<html>
<head>
    <title>Rezerwacje</title>
    <style>
    #szablon
        {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 1000px;
        background-color: cyan;
        }
     </style>
</head>
<body>
<div id="szablon">
<h1>Rezerwacje</h1>
   <br/><br/>
    <h3>Rezerwacja1 </h3>
    <h3>Rezerwacja2</h3>
<h2>
    <a href="% url 'update_rezerwacje' rezerwacje.id %}">
        <li> rezerwacja.description </li>
    </a>
    <br/><br/>
    <a href="% url 'create_rezerwacje' %}">Nowa rezerwacja</a>
    <br/><br/>
        <a href="index.html"  style="background-color:chartreuse;">Strona główna</a>
        <br/><br/>
    </h2>
</div>

</body>
</html>