<!DOCTYPE html>
<html>
<head>
    <title>Pracownie App</title>
   <style>
   #szablon
        {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 1000px;
        background-color: cyan;
        }
    </style>
</head>
<body >
<div id="szablon">
<h1>Stanowiska</h1>
    <br/><br/>
    <h3>Komputer </h3>
    <h3>VR </h3>
    <h3>Drukarka 3D </h3>
    <h3>Krzesło w sali konferencyjnej </h3>
<h2>
        <a href="index.html"  style="background-color:chartreuse;">Strona główna</a>
        <br/><br/>
    </h2>
</div>

</body>
</html>