<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="../style/loginstyle.css" />
  </head>

  <body>
    <nav class="lognav">
      <label class="logo"><a href="../index.html">PCI</a></label>
      <ul class="loglist">
        <li><a href="login.html" class="reglog">Zaloguj</a></li>
      </ul>
    </nav>
    <section class="secform">
      <div class="wrapper">
        <div class="title">
          Logowanie
        </div>
        <div class="form">
          <div class="input_field">
            <label>Login</label>
            <input type="text" class="input" />
          </div>
          <div class="input_field">
            <label>Hasło</label>
            <input type="password" class="input" />
          </div>
          <div class="input_field">
            <input type="submit" value="Zaloguj" class="btn" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
